@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  overflow: hidden;
}

h1 {
  font-family: var(--font-main);
}

a {
  text-decoration: none;
}


/* Class for Logo */
.whowins-logo {
  font-family: var(--font-logo);
  font-size: calc(2.5em + 2vw);
  color: white;
}


/* Only for desktop */
@media (hover: hover) {}