@import './base.css';

#app {
  margin: 0 auto;
  width: 100vw;
  height: 100svh;
  font-weight: normal;
}

h1 {
  font-family: var(--font-main);
}

h2 {
  font-family: var(--font-main);
}

a {
  text-decoration: none;
  color: rgb(255, 149, 0);
}


/* Class for Logo */
.whowins-logo {
  font-family: var(--font-logo);
  font-size: calc(2.5em + 2vw);
  color: white;
}



/* Only for desktop */
@media (hover: hover) {
  .slide-menu-icon {}
}